article {
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

figure img {
    width: 100%;
    height: 100%;
}

.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment {
    padding: 5px;
}


.navbar-expand-lg .dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 360px;
    max-height: 360px;
}

.navbar-expand-lg .dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content {
    min-height: 280px;
    max-height: 280px;
    overflow-y: scroll;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px 5px 0px;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li:after {
    content: "";
    clear: both;
    display: block;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li:hover {
    background-color: #fcfcfc;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li:last-child {
    border-bottom: none;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li .notify-img {
    float: left;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 0px 8px 0px;
}

.navbar-expand-lg .dropdown-menu.notify-drop .allRead {
    margin-right: 7px;
}

.navbar-expand-lg .dropdown-menu.notify-drop .rIcon {
    float: right;
    color: #999;
}

.navbar-expand-lg .dropdown-menu.notify-drop .rIcon:hover {
    color: #333;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li a {
    font-size: 12px;
    font-weight: normal;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li {
    font-weight: bold;
    font-size: 11px;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li hr {
    margin: 5px 0;
    width: 70%;
    border-color: #e2e2e2;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content .pd-l0 {
    padding-left: 0;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li p {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    margin: 3px 0;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li p.time {
    font-size: 10px;
    font-weight: 600;
    top: -6px;
    margin: 8px 0px 0px 0px;
    padding: 0px 3px;
    border: 1px solid #e2e2e2;
    position: relative;
    background-image: linear-gradient(#fff, #f2f2f2);
    display: inline-block;
    border-radius: 2px;
    color: #B97745;
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content > li p.time:hover {
    background-image: linear-gradient(#fff, #fff);
}

.navbar-expand-lg .dropdown-menu.notify-drop .drop-content .row {
    margin: 0;
}

.navbar-expand-lg .dropdown-menu.notify-drop .notify-drop-footer {
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    position: relative;
}

.navbar-expand-lg .dropdown-menu.notify-drop .notify-drop-footer a {
    color: #777;
    text-decoration: none;
}

.navbar-expand-lg .dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #333;
}

.dropdown-menu {
    left: -175px;
}

.unread {
    background-color: #c6c8ca;
}